body{
    margin: 0;
}

header{
    background: #000;
    color:#FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

footer{
    background: #000;
    color:#FFF;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

main{
    display: flex;
    width:1070px;
    margin: 0 auto;
}

main h2{
    background: #000;
    color:#FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top: 3px solid #575757;
    border-bottom: 3px solid #575757;
}
/*******************************
sidenavi
********************************/
#sidenavi {
    width:20%;
    float:left;
}
#sidenavi ol{
    list-style: none;
    margin: 0 auto;
    width:90%;
    padding: 10px 0;
    position: relative;
    top:15px;
}

#sidenavi ol li{
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    background:radial-gradient(#979797,#333333);
    margin-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    text-shadow: 3px 3px 1px #000;
}
#sidenavi ol a{
    text-decoration: none;
}



/*******************************
common
********************************/

#content{
    width:80%;
}

.container{
    padding: 10px;
}

main h2{
    background: #000;
    color:#FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top: 3px solid #575757;
    border-bottom: 3px solid #575757;
}

main .card-body{
    padding:20px;
}

#pagenator{
    text-align: center;
}

/*******************************
article_list
********************************/
.nd_course{
    display:inline-block;
}

.list_top_area{
    position: relative;
    left:290px;
}

form.narrow_down{
    display:inline-block;
}

a.regist_link{
    display:inline-block;
    padding:3px 10px;
    background: rgb(39, 39, 39);
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    margin-left:40px;
}

table.list{
    border: 1px solid rgb(32, 32, 32);
    border-collapse: collapse;
    margin:0 auto 10px;
}

table.list th,
table.list td{
    padding:3px 5px;
    text-align: center;
}

table.list th{
    background:rgb(179, 179, 179);
}

table.list td{
    font-size: 14px;
}

table.list td.title{
    width:250px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table.list td.classification{
    width:170px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table.list div.status_0{
    font-size: 0.8em;
    padding:1.5px 2px;
    color:rgb(255, 69, 44);
    border:1px solid rgb(255, 69, 44);
    border-radius: 5px;
}
table.list div.status_1{
    font-size: 0.8em;
    padding:1.5px 2px;
    color:rgb(0, 3, 194);
    border:1px solid rgb(0, 3, 194);
    border-radius: 5px;
}
table.list div.status_2{
    font-size: 0.8em;
    padding:1.5px 2px;
    color:rgb(0, 146, 85);
    border:1px solid rgb(0, 146, 85);
    border-radius: 5px;
}

input#delete{
    position: relative;
    left: 630px;
}

.regist input,
.regist textarea{
    width:100%;
}

.regist textarea{
    resize: vertical;
    height:200px;
}

.regist input{
    width:100%;
    height:30px;
}

.regist th{
    border-right:1px solid #c5c5c5;
    background:#eee;
    padding: 5px;
    vertical-align:middle;
}
.regist select{
    width:200px;
}

.regist table{
    border-collapse: collapse;
    margin-bottom: 30px;
}

.regist input.submit{
    width:30%;
    background:#000;
    color:#FFF;
    font-weight:bold;
    text-align: center;
    border:1px solid #000;
    border-radius: 5px;
    height: 40px;
    vertical-align:middle;
}
.regist input.back{
    width:30%;
    background:#FFF;
    border:1px solid #000;
    font-weight:bold;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    vertical-align:middle;
}

.regist .btn_area{
    text-align: center;
}

.edit input,
.edit textarea{
    width:100%;
}

.edit textarea{
    resize: vertical;
    height:200px;
}

.edit input{
    width:100%;
    height:30px;
}

.edit th{
    border-right:1px solid #c5c5c5;
    background:#eee;
    padding: 5px;
    vertical-align:middle;
}
.edit select{
    width:200px;
}

.edit table{
    border-collapse: collapse;
    margin-bottom: 30px;
}

.edit input.submit{
    width:30%;
    background:#000;
    color:#FFF;
    font-weight:bold;
    text-align: center;
    border:1px solid #000;
    border-radius: 5px;
    height: 40px;
    vertical-align:middle;
}
.edit input.back{
    width:30%;
    background:#FFF;
    border:1px solid #000;
    font-weight:bold;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    vertical-align:middle;
}

.edit .btn_area{
    text-align: center;
}
